body {
    margin: 0;
}


/* Animated Gradient */

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, #D9DFEC, #D9DFEC, #abf2f7, #ceabf7, #D9DFEC, #D9DFEC);
    background-size: 600% 100%;
    animation: gradient 32s linear infinite;
    animation-direction: normal;
}

@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}


/* center on screen */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Heartbeat Logo  */

#logo {
    position: relative;
    animation: animateHeart 2s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/* Coming Soon: center to bottom */

#status {
    position: fixed;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}


/* Coming Soon Text Design */

#status-text {
    font-family: Arial;
    font-weight: bolder;
    font-size: large;
}

#title-text {
    font-family: Arial;
    text-align: center;
}

#body-text {
    font-family: Arial;
    text-align: center;
}


/* Beating Heart animation */

@keyframes animateHeart {
    0% {
        transform: scale(0.8);
    }
    5% {
        transform: scale(0.9);
    }
    10% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.8);
    }
}